.login-container {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.login-image {
    flex: 3;
    background: url('http://pupanpw.thddns.net:3322/pupan/img/content-1.jpg') center center no-repeat;
    background-size: cover;
}

.login-form-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.login-logo {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-logo img {
    width: 100px;
    height: 100px;
    border: none;
}

.login-form {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

.login-form-button {
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 769px) {
    .login-form {
        max-width: 60%;
    }
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-image {
        display: none;
    }

    .login-form-container {
        flex: 1;
        padding: 20px;
        width: 100%;
    }

    .login-form {
        max-width: 100%;
    }

    .login-form .ant-input,
    .login-form .ant-input-affix-wrapper,
    .login-form-button {
        width: 100%;
        box-sizing: border-box;
    }
}
