/* User.css */

.users-container {
    width: 100%;
}

.ant-table {
    overflow: hidden;
}
.ant-table-cell {
    width: 105px;
}
.ant-table-container {
    max-height: 400px;
}

.ant-table-thead > tr > th {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
}
